* {
    font-family: "Roboto", "PT Sans", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

img {
    height: 400px;
    width: 600px;
    object-fit: cover;
    border-radius: 0.25em;
}

ul, ol {
    background-color: #ebebeb;
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 0.25em;
}

li {
    margin-top: 1em;
}

a {
    color: #0A5DCF;
    text-decoration: none;
}

a:hover {
    color: #640ACF;
    border-bottom: 0.15rem solid;
}